<footer class="footer-container">
  <div class="logos">
    <a href="mailto:diegoal.delgadoc@gmail.com" target="_blank"><img class="footer-logos bouncy" src="gmail.png" alt="mail-logo"></a>
    <a href="www.linkedin.com/in/diegoalexanderdelgadocastañeda-developer-fullstack" target="_blank"><img class="footer-logos bouncy" src="linkedin.png" alt="linkedin-logo"></a>
    <a href="https://github.com/CoolKiid95" target="_blank"><img class="footer-logos bouncy" src="git.png" alt="git9-logo"></a>
  </div>
  <div><p>Gracias por visitar mi portafolio</p></div>
</footer>
