<div class="home-container">
  <section id="welcome" class="welcome">
    <p class="hello hello1">{{text_animation1}}</p>
    <p class="hello hello2">{{text_animation2}}</p>
    <p class="hello hello3">{{text_animation3}}</p>
  </section>
  <section class="name">
    <h2>{{delayedname}}</h2>
    <h1>{{delayedstack}}</h1>
  </section>
  <section class="skills">
    <div class="scroll-container">
    <p class="scroll-text"> HTML | CSS | Javascript  | Bootstrap | Node.js | API | Angular | MongoDB | Git/Github | AWS: Ec2, E3 | English B2 </p>
    </div>
  </section>
  <section id="about" class="about">
    <div class="about-flex">
      <h3>about me</h3>
      <p class="aboutme">I am a Fullstack Developer, with a background in Computer equipment maintenance technician and graphic design, bilingual (B2-English). Interested in web technologies and design, with experience in the BPO Technical support sector that has developed my critical thinking and problem solving skills. I consider myself someone who knows the value of team work, listening and providing new ideas, focused on improvement and learning new things, which has allowed me to generate a positive impact at the companies I have been part of.</p>
    </div>
  </section>
  <section id="projects" class="projects-container">
    <h3>my projects</h3>
    <div class="cardz">
      <div class="projects-card">
        <a class="projects-a" href="https://github.com/CoolKiid95/ColombiaClandestina" target="_blank"><img class="projects-img" src="ColombiaClandestina.png" alt="ColombiaClandestiaWebsite"></a>
        <div class="_bg">  </div>
        <div class="_light"></div>
      </div>
      <div class="projects-cardz">
        <a class="projects-a" href="https://github.com/CoolKiid95/BandaAncha" target="_blank"><video class="projects-video" autoplay="true" loop="infinite" src="BandaAncha.mp4"></video> </a>
        <div class="_bgz">  </div>
        <div class="_lightz"></div>
      </div>
    <div class="projects-cardz">
      <a class="projects-a" href="https://moneycambiosjwc.com/" target="_blank"><video class="projects-video" autoplay="true" loop="infinite" src="moneycambios.mp4"></video> </a>
      <div class="_bgz">  </div>
      <div class="_lightz"></div>
    </div>
    <div class="projects-card">
      <a class="projects-a" href="https://github.com/CoolKiid95/API-clothes" target="_blank"><img class="projects-img" src="clothes.png" alt="ClothesWebsite"></a>
      <div class="_bg">  </div>
      <div class="_light"></div>
    </div>
    </div>
  </section>
  <section id="contact">
    <div >
      <p class="letswork">lets work together</p>
    </div>
  </section>
</div>
